.container {
    padding-top: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    // .title {
    //     font-weight: 600;
    //     font-size: 16px;
    //     line-height: 24px;
    //     color: #000000;
    // }

    // .img {
    //     margin-top: 65px;
    //     max-width: 440px;
    //     max-height: 364px;
    // }

    table {
        width: 100%;
        text-align: left;
        border-spacing: 30px;
    }
}

