.container {
  .productsMain {
    .productsItem {
      position: relative;
      padding-bottom: 112px;
      h3 {
        color: #f8b945;
        font-size: 24px;
        line-height: 20px;
        font-weight: 600;
        padding-top: 54px;
      }

      .products {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 20px;
        margin-top: 48px;
        margin-bottom: 60px;
      }

      .btn {
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        padding-bottom: 72px;
        font-size: 16px;
        line-height: 24px;
        font-weight: 600;
        margin-top: 52px;
      }
    }
  }

  .productsMain:nth-child(2),
  .productsMain:nth-child(4),
  .productsMain:nth-child(6) {
    background-color: #fafaf2;
  }
}

.itemMain {
  max-width: 276px;
  border: 1px solid #ccc;
  .img {
    display: flex;
    justify-content: center;

    img {
      max-width: 400px;
      max-height: 200px;
    }
  }

  .title {
    padding: 20px 12px;

    a {
      text-decoration: none;
      color: #060728;
      font-size: 18px;
      line-height: 24px;
      font-weight: 600;
    }
  }

  .description {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 32px;
    .star {
      display: flex;
      color: #fcc661;
      font-size: 20px;
      margin: 0 15px;

      span {
        color: #75818f;
        font-size: 12px;
        line-height: 20px;
        font-weight: 400;
        margin-left: 4px;
      }
    }

    .cart {
      display: flex;
      justify-content: center;
      align-items: center;
      border-left: 1px solid #ccc;
      padding: 0 12px;

      .icon {
        color: #75818f;
        font-size: 20px;
        margin-right: 6px;
      }

      span {
        color: #75818f;
        font-size: 12px;
        line-height: 20px;
        font-weight: 400;
      }
    }
  }

  .sale {
    padding: 0 12px;
    del {
      color: #75818f;
      font-size: 18px;
      line-height: 24px;
      font-weight: 400;
      margin-right: 4px;
    }

    span {
      color: #e64c3c;
      font-size: 18px;
      line-height: 18px;
      font-weight: 500;
    }
  }

  .price {
    display: flex;
    margin: 18px 12px;

    h5 {
      font-weight: 700;
      color: #f8b945;
      font-size: 24px;
      line-height: 24px;
    }
  }

  .btnProduct {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
    border-radius: 2px;
    button {
      padding: 0;
    }
  }
}
