.container {
  background-color: #fafaf2;

  .main {
    .title {
      padding: 60px 0 32px;
    }
  }

  .control {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 32px 0;

    .btnPrev {
      width: 28px;
      height: 28px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      background-color: #f8b945;
      border-radius: 4px;
    }

    .page {
      width: 28px;
      height: 28px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #f8b945;
      background-color: #fafaf2;
      margin: 0 18px;
      border-radius: 4px;
    }

    .btnNext {
      width: 28px;
      height: 28px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      background-color: #f8b945;
      border-radius: 4px;
    }
  }
}
