.container {
  padding: 8px 0;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #fff;
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .link {
    color: #000;
    text-decoration: none;
    position: relative;
    width: 70px;
    height: 70px;
    display: block;
  }
  .list {
    flex: 1;
    display: flex;

    .item {
      list-style: none;
      padding: 15px 32px;

      a {
        text-decoration: none;
        color: #000;
        font-size: 16px;
      }
    }
  }
}

.headerLogin {
  display: flex;
  align-items: center;
  .notification {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    margin-right: 60px;
    cursor: pointer;
  }
  .headerAvatar {
    position: relative;
    width: 40px;
    height: 40px;
    .image {
      width: 100%;
      border-radius: 50%;
      cursor: pointer;
    }
  }
  .icon {
    font-size: 24px;
    color: #f8b945;
    font-weight: 700;
    margin-left: 4px;
    cursor: pointer;
  }
}
