.container {
  .main {
    .image {
      background-size: cover;
      width: 100%;
      height: 385px;
      img {
        width: 100%;
        height: 100%;
      }
    }

    .title {
      color: #18191f;
      font-size: 24px;
      line-height: 24px;
      font-weight: 400;
      padding: 26px 0 10px;
    }

    .description {
      display: flex;
      margin-bottom: 12px;

      .time {
        color: #999999;
        font-size: 12px;
        line-height: 20px;
        font-weight: 400;
        margin-right: 34px;
      }

      .watch {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #999999;
        font-size: 12px;
        line-height: 20px;
        font-weight: 400;

        .icon {
          margin-right: 4px;
        }
      }
    }

    .content {
      color: #18191f;
      font-size: 16px;
      line-height: 24px;
      font-weight: 400;
      text-align: justify;

      p {
        margin-bottom: 12px;
      }
    }
  }
}
