.container {
  margin-bottom: 52px;
  .main {
    .title {
      padding: 52px 0 76px;
      color: #f8b945;
      font-size: 24px;
      font-weight: 600;
      line-height: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .filter {
        display: flex;
        justify-content: center;
        align-items: center;
        .filterParent {
          display: flex;
          justify-content: center;
          align-items: center;
          font-weight: 400;
          font-size: 14px;
          line-height: 18px;
          color: #75818f;
          padding: 16px 32px !important;
          border-radius: 30px;
          background-color: #f2f4f8;

          .icon {
            margin-right: 6px;
          }
        }

        .filterItem {
          margin-left: 12px;
        }
      }
    }

    .products {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 24px;
    }
  }
}
