.classify {
  margin-top: 72px;
}

.main {
  display: flex;
  justify-content: space-between;
}

.ItemClassify {
  max-width: 106px;
  min-height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .image {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #edede6;
    border-radius: 10px;

    img {
      padding: 12px;
    }
  }

  .des {
    margin-top: 28px;
    min-height: 80px;
    width: content;
    text-align: center;
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 14px;
      line-height: 24px;
      font-weight: 400;
      text-decoration: none;
      color: #75818f;
    }
  }
}
