.container {
    display: grid;
    grid-template-columns: 2fr 3fr;
    margin: 10px 0 24px;

    .title {
        display: flex;
        align-items: center;

        .img {
            width: 76px;
            height: 76px;
            margin-right: 12px;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                width: 100%;
                height: 100%;
                background-size: cover;
                border-radius: 4px;
            }
        }
    }

    .des {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

        p {
            display: flex;
            justify-content: center;
            align-items: center;
            color: #75818f;
            font-size: 14px;
            line-height: 20px;
            font-weight: 400;
        }

        .size {
            justify-content: flex-end;
            margin-right: 10px;
        }

        .unitPrice {
            margin-left: 24px;
        }

        .quantily {
            margin-left: 36px;
        }

        .price {
            margin-left: 36px;
        }

        .btnDelete {
            display: flex;
            justify-content: flex-end;
            align-items: center;

            button {
                background-color: #fff;
                color: #060728;
                font-size: 14px;
                line-height: 20px;
                font-weight: 400;
                cursor: pointer;
            }
            :hover {
                color: #fcc661;
            }
        }
    }

    // .title {
    //   color: #000000;
    //   font-size: 16px;
    //   line-height: 20px;
    //   font-weight: 400;
    // }
}
