.container {
    background-color: #fafaf2;
    margin-bottom: 24px;
    padding-bottom: 42px;

    .main {
        display: grid;
        grid-template-columns: 2fr 8fr;
        gap: 42px;
        padding-top: 48px;
    }

    .header {
        background-color: #fff;
        margin-bottom: 12px;

        .list {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0;

            .item {
                list-style: none;
                padding: 16px 36px;
                position: relative;
                cursor: pointer;
                transition: all 0.7s linear;

                &:hover {
                    color: #f8b945;
                    opacity: 0.7;
                }

                // &:before {
                //   content: "";
                //   position: absolute;
                //   bottom: 0;
                //   left: 0;
                //   width: 100%;
                //   height: 4px;
                //   background-color: #f8b945;
                // }

                // &:active {
                //   color: #f8b945;
                // }
            }
        }
    }

    .content {
        // background-color: #fff;
    }
}
