.container {
    padding: 12px 0 16px;
    border-bottom: 1px solid #ccc;
    .main {
        display: flex;
        .img {
            margin-right: 14px;

            img {
                max-width: 100px;
                max-height: 70px;
            }
        }

        .description {
            .name {
                color: #000000;
                font-size: 12px;
                line-height: 20px;
                font-weight: 400;
            }

            .info {
                display: flex;

                .star {
                    display: flex;
                    justify-content: center;
                    border-right: 1px solid #ccc;
                    align-items: center;

                    .icon {
                        font-size: 20px;
                        color: #fcc661;
                    }

                    span {
                        color: #75818f;
                        font-size: 12px;
                        line-height: 20px;
                        font-weight: 400;
                        margin-left: 2px;
                        padding-right: 15px;
                    }
                }

                .cart {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-left: 1px solid #ccc;

                    .icon {
                        font-size: 20px;
                        color: #75818f;
                        padding-left: 11px;
                    }

                    span {
                        color: #75818f;
                        font-size: 12px;
                        line-height: 20px;
                        font-weight: 400;
                        margin-left: 2px;
                    }
                }
            }
        }
    }
}
