.container {
  border-top: 1px solid #fafaf2;

  .main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;

    .title {
      color: #060728;
      font-size: 18px;
      line-height: 20px;
      font-weight: 600;
    }

    .btn {
      button {
        background-color: #fff;
        color: #325aa8;
        font-size: 14px;
        line-height: 20px;
        font-weight: 600;
        padding: 0;
      }
    }
    .change {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 500;
      display: flex;
      justify-content: center;
      align-items: center;

      .main {
        display: flex;
        flex-direction: column;
      }
    }
  }
}
