.logo {
  display: flex;
  align-items: flex-end;
  margin-top: 22px;
  margin-bottom: 36px;

  .title {
    margin-left: 32px;
    font-size: 18px;
    line-height: 20px;
    font-weight: 400;
    color: #f8b945;
  }
}
