.container {
    margin-bottom: 52px;
    .main {
        .title {
            padding: 52px 0 76px;
            color: #f8b945;
            font-size: 24px;
            font-weight: 600;
            line-height: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .filter {
                display: flex;
                justify-content: center;
                align-items: center;
                .filterParent {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 18px;
                    color: #75818f;
                    padding: 16px 32px !important;
                    border-radius: 30px;
                    background-color: #f2f4f8;

                    .icon {
                        margin-right: 6px;
                    }
                }

                .filterItem {
                    margin-left: 12px;
                    background-color: rgb(238, 238, 238);
                    font-size: 14px;
                    font-weight: 400;
                    cursor: pointer;
                    transition: 0.3s;
                    border-radius: 50px;
                    padding: 15px 30px;
                    min-width: 100px;

                    &.active {
                        background-color: #f8b945;
                        color: #fff;
                    }
                }
            }
        }

        .products {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: 24px;
        }
    }
}
