.container {
  .main {
    .title {
      color: #060728;
      font-size: 16px;
      line-height: 24px;
      font-weight: 600;
      padding: 24px 0;
    }

    .groupPost {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 30px;
    }
  }
}
