.container {
    .user {
        display: flex;
        align-items: center;
        margin-bottom: 20px;

        .img {
            width: 60px;
            height: 60px;
            margin-right: 12px;
            object-fit: cover;

            img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
                object-fit: cover;
                object-position: center;
            }
        }

        .account {
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
            color: #000000;
            margin-bottom: 6px;
        }

        .name {
            font-weight: 400;
            font-size: 18px;
            line-height: 20px;
            color: #75818f;
        }
    }

    .nav {
        padding: 0;
        .item {
            list-style: none;
            padding: 12px 0;
            a {
                text-decoration: none;
                font-weight: 400;
                font-size: 16px;
                color: #000000;
            }
        }
    }
}
